body {
  background-color: #ddd;
}

.content {
  font-family: sans-serif;
  background-color: #eee;
  border-style: solid;
  border-width: 2px;
  border-color: #aaa;
  border-radius: 10px;
}

.post-collection {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #bbb;
  border-radius: 10px;
}

.post {
  border-style: solid;
  border-width: 1px;
  border-color: #bbb;
  border-radius: 10px;
}
.post:hover {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-color: #ababab;
}

.post-header {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #bbb;
}

.tag-0 {
  border-color: #8a2be2;
  background-color: #8a2be2aa;
  color: #eee;
}
.tag-1 {
  border-color: #7fff00;
  background-color: #7fff00aa;
  color: #111;
}
.tag-2 {
  border-color: #00ffff;
  background-color: #00ffffaa;
  color: #111;
}
.tag-3 {
  border-color: #5f9ea0;
  background-color: #5f9ea0aa;
  color: #111;
}

.post-body {
  padding: 20px;
  text-align: left;
}

.post-controls {
  border-top-style: solid;
  border-width: 1px;
  border-color: #bbb;
}

.editFrame {
  background-color: #ddda;
}

.edit {
  background-color: #eee;
  border-style: solid;
  border-width: 2px;
  border-color: #aaa;
  border-radius: 10px;
}

.button {
  padding: 8px;
  width: fit-content;
  align-self: center;
  background-color: rgb(117, 173, 243);
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
}
.button:hover {
  outline-width: 2px;
  outline-style: solid;
  border-color: rgb(90, 158, 241);
  background-color: rgb(90, 158, 241);
  outline-color: rgb(90, 158, 241);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.small-text {
  all: unset;
  width: 200px;
  padding: 4px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgb(117, 173, 243);
  cursor: text;
}
.small-text:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-color: rgb(90, 158, 241);
  border-color: rgb(90, 158, 241);
}

.large-text {
  font-family: sans-serif;
  width: 400px;
  height: 200px;
  padding: 4px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgb(117, 173, 243);
  cursor: text;
}
.large-text:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-color: rgb(90, 158, 241);
  border-color: rgb(90, 158, 241);
}

select {
  padding: 4px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgb(117, 173, 243);
}
